.auth {
    display: flex;
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;


}

.auth main {
    margin: auto;
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-container label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="button"] {
    margin-top: 10px;
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

button[type="button"]:hover {
    color: #0056b3;
}

/* Mensaje de error */
.error-message {
    color: #ff4d4f;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
}


.check-link {
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
}

.check-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.check-link a:hover {
    text-decoration: underline;
}

.password-container {
    display: flex;

}

.password-container input {
    flex: 1;
}

.password-container button {
    text-decoration: none;
    cursor: pointer;
    height: fit-content;
    margin-left: 5px;
}


@media screen and (max-width: 769px) {
    .auth main {
        overflow: auto;
        height: 100%;
        width: 100%;
        padding: 20px;
        border-radius: 0;

    }

}

/* Loader CSS */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semi-transparente */
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Color de fondo del spinner */
    border-top: 8px solid #3498db;
    /* Color del spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.success-message {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

}

.success-message a {
    background: #007bff;
    color: white;
    border: 5px;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.success-message a:hover {
    background: #0056b3;
}

.decrypt-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.decrypt-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.decrypt-container button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.decrypt-container button:hover {
    background-color: #218838;
}

/* Contraseña desencriptada */
.decrypted-container {
    margin-top: 10px;
    text-align: center;
}

.decrypted-container p {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.decrypted-container span {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    color: #333;
}

.decrypted-container button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.decrypted-container button:hover {
    background-color: #0056b3;
}